<div style="margin-top: 20px;">
<div class="flex-container">
    <div class="row">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Cristian Garibay</mat-card-title>
                <mat-card-subtitle>Software Engineer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/1.jpg" alt="Photo of an engineer">
            <mat-card-content>
                <p>
                    Over 14 years of IT experience as Software Engineer, photographer by hobby and game developer enthusiast.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="flex-insider">
                    <a href="https://500px.com/cristiangaribay" target="_blank">
                        <mat-icon fontSet="fa" fontIcon="fa-500px"></mat-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/cristiangaribay" target="_blank">
                        <mat-icon fontSet="fa" fontIcon="fa-linkedin"></mat-icon>
                    </a>
                    <a href="https://twitter.com/CristianGaribay" target="_blank">
                        <mat-icon fontSet="fa" fontIcon="fa-twitter"></mat-icon>
                    </a>
                </div>
            </mat-card-actions>

        </mat-card>

    </div>
</div>
</div>